<%- include('partials/head') %>


<body>
    <%- include('partials/navbar') %> 

    <h1>The home page <%= 'Hello'.toUpperCase() %> </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Corrupti iusto libero unde! Ea commodi tenetur minus voluptate 
        nemo illo, optio sapiente hic quaerat eos ipsam ipsum, molestiae 
        totam delectus eius?
    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Corrupti iusto libero unde! Ea commodi tenetur minus voluptate 
        nemo illo, optio sapiente hic quaerat eos ipsam ipsum, molestiae 
        totam delectus eius?
    </p>

</body>
</html>